body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #654929;
    font-family: "Courier New", Courier, monospace;
    color: #F5F5DD;
    margin: 0 20px;
    }

h1 {
    text-align: center;
    }

img {
    width: 50%;
    display: block;
    margin: 15px auto;
    transition: 0.3s ease-in-out;
    }

#extra-section {
    display: none;
    text-align: center;
    }

button {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    }
button:hover {
    background-color: #0f5f5f;
    }
