        #img1{
            padding: auto;
            margin: 50px;
            width: 20%;
            length: 20px;
        }

        #img2{
            padding: auto;
            margin: 50px;
            width: 20%;
            length: 20px;
        }

        #img3{
            padding: auto;
            margin: 50px;
            width: 10%;
            length: 10px;
        }